.wrapper {
  background-color: rgb(56, 38, 28);
  
  }
  .wrapper h1{
      color: #ffffff;
      font-family: Mysteria;
  }
  .container {
      height: 500px;
      width: 500px;
      margin: 0 auto;
  }
  
  @media (max-width: 991px) {
      .container {
          height: 300px;
          width: 300px;
          margin: 0 auto;
      }
  }