.poets {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  margin: 0 auto;
  background-color: rgb(192, 168, 156);
}

@media (max-width: 1250px) {
  .poets {
      height: auto;
      width: 100%;
      
  }
}