.wrapper {
  text-align: center;
  background-image: url("/src/img/background/coin.jpg");
  background-size: 3%;
}

.wrapper h1{
  color:#ffffff;
  font-family: Segoe UI;
}

.wrapper h4{
  color:#ffffff;
  font-family: Segoe UI;
}

.avatar {
  height: 200px;
  border: 2px solid rgb(248, 246, 246);
}

