.wrapper {
  text-align: center;
  background-image: url("/src/img/background/ggg.jpg");
  background-size: 3%;
}

.wrapper h1{
  color:#000000;
  font-family: Segoe UI;
}

.wrapper h4{
  color:#000000;
  font-family: Segoe UI;
}

.avatar {
  height: 200px;
  border: 2px solid rgb(248, 246, 246);
}

.frame {
    position: absolute;
    border-radius: 3%;
    left: 900px;
    top: 120px;
    height:100px;
    width: 600px;
    background-color: white;
   
}

.frameBirth{
    
  align-items: center;
    position: absolute;
    border-radius: 3%;
    background-color: white;
    left: 1100px;
    top: 220px;
    height:32px;
    width: 200px;
}