.wrapper {
  text-align: center;
  background-image: url("/src/img/background/ggg.jpg");
  background-size: 3%;
}

.wrapper h1{
  color:#ffffff;
  font-family: Segoe UI;
}

.wrapper h4{
  color:#ffffff;
  font-family: Segoe UI;
}

.avatar {
  height: 200px;
  border: 2px solid rgb(248, 246, 246);
}

.ScammersName{

}

.frame {
    text-align: center;
    height:auto;
    width: auto;
    background-color: black;
   
}